PORT=3000
MONGODB_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/leleka?retryWrites=true&w=majority
JWT_ACCESS_SECRET=your_access_token_secret
JWT_REFRESH_SECRET=your_refresh_token_secret
